#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

if [[ ! $(command -v devbox) ]]; then
  # From https://www.jetify.com/docs/devbox/installing-devbox
  curl -fsSL https://get.jetify.com/devbox | bash
fi
