# {{- $enableSupermaven := promptBoolOnce . "enableSupermaven" "Enable Supermaven? (y/n)" false -}}

[data]
# {{- if $enableSupermaven }}
enableSupermaven = true
# {{- else }}
enableSupermaven = false
# {{- end }}
