# Ignore everything...
/*

# ...except the gitignore and nvim config files
!.gitignore
!/nvim
!/lazyyy

# Allow bat
!/bat

# Allow fish
!/fish

# ...except fish_variables, which may contain API keys, etc.
/fish/fish_variables

# Allow lazygit
!/lazygit

# Allow kitty
!/kitty

# Allow wezterm
!/wezterm
