priority -50

snippet sus "SUSENG" b
[SUSENG] $0
endsnippet

snippet suseng "SUSENG" b
[SUSENG] $0
endsnippet

snippet mp "MP-9999" b
[MP-${1:9999}] $0
endsnippet

snippet MP "MP-9999" b
[MP-${1:9999}] $0
endsnippet

# vim:ft=snippets:
