priority -50

snippet sus "SUSENG" b
[SUSENG] $0
endsnippet

snippet suseng "SUSENG" b
[SUSENG] $0
endsnippet

snippet zip "ZIP-9999" b
[ZIP-${1:9999}] $0
endsnippet

snippet ZIP "ZIP-9999" b
[ZIP-${1:9999}] $0
endsnippet

# vim:ft=snippets:
